[class*=typeWindows] {
  height: 32px;
  margin-top: 0;
}

[class*=winButton] {
  height: 32px;
  top: auto;
  bottom: auto;
  width: 47px;
}

/* Removes the discord logo in the top left of the title-bar
.wordmarkWindows_a934d8 {
  display: none;
}
*/
