[class*=typeWindows] {
  height: 32px;
  margin-top: 0;
}

[class*=winButton] {
  height: 32px;
  top: auto;
  bottom: auto;
  width: 47px;
}

.wordmarkWindows_a934d8 {
  margin-top: 4px;
  /* display: none; */
}
